
.icon-banuhaqim:before { content: '\e800'; } /* '' */
.icon-hecata:before { content: '\e801'; } /* '' */
.icon-lasombra:before { content: '\e802'; } /* '' */
.icon-nosferatu:before { content: '\e803'; } /* '' */
.icon-toreador:before { content: '\e804'; } /* '' */
.icon-tremere:before { content: '\e805'; } /* '' */
.icon-malkovian:before { content: '\e806'; } /* '' */
.icon-ravnos:before { content: '\e807'; } /* '' */
.icon-tzimisce:before { content: '\e808'; } /* '' */
.icon-ventrue:before { content: '\e809'; } /* '' */
.icon-giovanni:before { content: '\e80a'; } /* '' */
.icon-set:before { content: '\e80b'; } /* '' */
.icon-brujah:before { content: '\e80c'; } /* '' */
.icon-gangrel:before { content: '\e80d'; } /* '' */
